<html>

<head>
    <title>HTML Form Example</title>
</head>

<body>
    <form method="POST" action="/add-user">
        <label for="username">Nik:</label>
        <input type="text" name="nik" id="nik" required><br>

        <label for="username">Nama:</label>
        <input type="text" name="nama" id="nama" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>

        <button type="submit">Create User</button>
    </form>

    {{range .}}
        <div>
            <h3>Name: {{.Nama}}</h3>
            <p>Nik: {{.Nik}}</p>
        </div>
    {{end}}
</body>

</html>